apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: manu-vi
spec:
  kafka:
    config:
      offsets.topic.replication.factor: 3
      transaction.state.log.replication.factor: 3
      transaction.state.log.min.isr: 2
      log.message.format.version: '2.7'
      inter.broker.protocol.version: '2.7'
      message.max.bytes: 536870912
      replica.fetch.max.bytes: 536870912
      replica.fetch.response.max.bytes: 536870912
    version: 2.7.0
    storage:
      type: ephemeral
    replicas: 3
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
      - name: tls
        port: 9093
        type: internal
        tls: true
  entityOperator:
    topicOperator: {}
    userOperator: {}
  zookeeper:
    storage:
      type: ephemeral
    replicas: 3