apiVersion: v1
kind: ConfigMap
metadata:
  name: image-processor-conf
data:
  INFER_URL: "https://manuela-vi-onnx-ods-project-stefan.apps.ocp5.stormshift.coe.muc.redhat.com/v2/models/manuela-vi-onnx/infer"
---
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: image-processor
  labels:
    app: visual-inspection
    app.kubernetes.io/part-of: visual-inspection
    app.openshift.io/runtime: python
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "1"
        # autoscaling.knative.dev/target: '100'
        # autoscaling.knative.dev/targetUtilizationPercentage: '70'
        # autoscaling.knative.dev/window: 60s
      labels:
        app.kubernetes.io/component: image-processor
        app.kubernetes.io/instance: image-processor
        app.kubernetes.io/part-of: strimzi-manu-vi
        app.openshift.io/runtime: python
        app.openshift.io/runtime-namespace: manuela-visual-inspection
        app.openshift.io/runtime-version: latest
    spec:
      containerConcurrency: 0
      containers:
        - name: image-processor
          image: image-registry.openshift-image-registry.svc:5000/manuela-visual-inspection/image-processor:cpu
          imagePullPolicy: Always
          ports:
          - containerPort: 8080
          envFrom:
          - configMapRef:
              name: image-processor-conf
          resources: {}
      enableServiceLinks: false
      timeoutSeconds: 30
  traffic:
    - latestRevision: true
      percent: 100