<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">

  <title>CV Streaming</title>

</head>
    <body >
        <h1><a href="avi">Automated Visual Inspection</a></h1>
        <h1><a href="cam">Cameras and Screens</a></h1>
    </body>
</html>


